*{
    padding: 0px 5px;
    margin:0px 5px;
}


.Navbar{
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    justify-items: center;
    /* text-decoration: none; */
}
.Navbar a {
    text-decoration: none;
    margin:5px;
    padding:5px;
    color:bisque;
}

.About{
    justify-items: center;
}

.About img {
    border-radius: 50%;

}
.Description{
    padding:5px;
}

.heading{
    /* center the heading */
        text-align: center;

}

footer{
    text-align: center;
    background-color: rgb(176 125 224 / 56%);

    a{
        margin:5px;
        text-decoration: none;
    }
}